NET "CLK20MHz" LOC = "P39" | IOSTANDARD = PCI33_5;

NET "LED1(0)" LOC = "P98" | IOSTANDARD = PCI33_5;
NET "LED1(1)" LOC = "P3" | IOSTANDARD = PCI33_5;
NET "LED1(2)" LOC = "P5" | IOSTANDARD = PCI33_5;
NET "LED1(3)" LOC = "P6" | IOSTANDARD = PCI33_5;
NET "LED1(4)" LOC = "P7" | IOSTANDARD = PCI33_5;
NET "LED1(5)" LOC = "P9" | IOSTANDARD = PCI33_5;
NET "LED1(6)" LOC = "P15" | IOSTANDARD = PCI33_5;
NET "LED1(7)" LOC = "P17" | IOSTANDARD = PCI33_5;

NET "LED0(0)" LOC = "P18" | IOSTANDARD = PCI33_5;
NET "LED0(1)" LOC = "P19" | IOSTANDARD = PCI33_5;
NET "LED0(2)" LOC = "P21" | IOSTANDARD = PCI33_5;
NET "LED0(3)" LOC = "P22" | IOSTANDARD = PCI33_5;
NET "LED0(4)" LOC = "P31" | IOSTANDARD = PCI33_5;
NET "LED0(5)" LOC = "P32" | IOSTANDARD = PCI33_5;
NET "LED0(6)" LOC = "P40" | IOSTANDARD = PCI33_5;
NET "LED0(7)" LOC = "P43" | IOSTANDARD = PCI33_5;

NET "FIZZ" LOC = "P44" | IOSTANDARD = PCI33_5;
NET "BUZZ" LOC = "P46" | IOSTANDARD = PCI33_5;
