/////////////////////////////////////////////////////////////////////////////////////////////////
//
// FizzBuzz - Sample for Spartan2Bone
// Copyright (c) 2017 Kouji Matsui (@kekyo2)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//	http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
/////////////////////////////////////////////////////////////////////////////////////////////////

NET "CLK20MHz" LOC = "P39" | IOSTANDARD = PCI33_5;

NET "LED1(0)" LOC = "P98" | IOSTANDARD = PCI33_5;
NET "LED1(1)" LOC = "P3" | IOSTANDARD = PCI33_5;
NET "LED1(2)" LOC = "P5" | IOSTANDARD = PCI33_5;
NET "LED1(3)" LOC = "P6" | IOSTANDARD = PCI33_5;
NET "LED1(4)" LOC = "P7" | IOSTANDARD = PCI33_5;
NET "LED1(5)" LOC = "P9" | IOSTANDARD = PCI33_5;
NET "LED1(6)" LOC = "P15" | IOSTANDARD = PCI33_5;
NET "LED1(7)" LOC = "P17" | IOSTANDARD = PCI33_5;

NET "LED0(0)" LOC = "P18" | IOSTANDARD = PCI33_5;
NET "LED0(1)" LOC = "P19" | IOSTANDARD = PCI33_5;
NET "LED0(2)" LOC = "P21" | IOSTANDARD = PCI33_5;
NET "LED0(3)" LOC = "P22" | IOSTANDARD = PCI33_5;
NET "LED0(4)" LOC = "P31" | IOSTANDARD = PCI33_5;
NET "LED0(5)" LOC = "P32" | IOSTANDARD = PCI33_5;
NET "LED0(6)" LOC = "P40" | IOSTANDARD = PCI33_5;
NET "LED0(7)" LOC = "P43" | IOSTANDARD = PCI33_5;

NET "FIZZ" LOC = "P44" | IOSTANDARD = PCI33_5;
NET "BUZZ" LOC = "P46" | IOSTANDARD = PCI33_5;
